<!DOCTYPE html>
<html>

    <head>
        {% block head %}
        <base href="/">
        <!-- <link rel="stylesheet" href="style.css" /> -->
        <title>Post & Responses</title>
            {% block stylesheets %}
                <link rel="stylesheet" href="css/bootstrap.css" type="text/css" rel="stylesheet" />
            {% endblock %}
        {% endblock %}
    </head>

    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">              
                <div class="cover-container">
                    <div id="content">{% block content %}{% endblock %}</div>

                    <div class="mastfoot">
                        <div class="inner">
                            <p>
                                {% block footer %} &copy; Copyright 2018 by <a href="/">Company</a>. {% endblock %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>              

    </body>

</html>