<form action="/create-response" method="post">
    <label>Response</label>
    <input type="text" name="response_content">
    <input type="hidden" name="post_id" value="{{post_id}}">
    <button type="submit">Add {{post_id}}</button>
</form>

<a class="btn btn-xs btn-primary" href="/">Back to Posts</a>
